Repository Mq-b/Modern-Cpp-templates-tutorial, pull requests merged in 2024-03, with the labels that each got.

#29 完成08折叠表达式作业
  homework/08折叠表达式作业/ooolize.md
Labels: review, homework

#30 mq日提交作业
  homework/08折叠表达式作业/mq日.md
Labels: homework

#31 Submit assignment `08折叠表达式作业`
  homework/08折叠表达式作业/saidfljwnzjasf.md
Labels: homework

#32 Deploy GitHub Pages
  .github/workflows/deploy.yml
  .gitignore
  .vitepress/config.mjs
  .vitepress/theme/Layout.vue
  .vitepress/theme/NotFound.vue
  .vitepress/theme/index.css
  .vitepress/theme/index.js
  .vitepress/theme/params.js
  README.md
  image/捐赠/README.md
  package-lock.json
  package.json
  public/icon.webp
  public/支付宝10.jpg
  public/支付宝20.jpg
  public/支付宝88.88.jpg
Labels: web

#33 对 Github 外部仓库的代码片段使用永久链接
  md/第一部分-基础知识/10了解与利用SFINAE.md
Labels: documentation
